:root {
    --main-color-alt: #2d727ea1;
    --secondary-color: #3a8491;
    --simples-primary-color: #ee9293;
    --true-black-color: #252525;
    --black-secondary-color: #2f555c;
    --black-simples-color: #111;
    --black-other-color: #2b2b2b;
    --black-gray-color: #848484;
    --gray-color: #aaaaaa;
    --gray-true-color: #777777;
    --gray-true-secondary-color: #515151;
    --gray-secondary-color: #c4c4c4;
    --gray-other-color: #ddd;
    --gray-other-secondary-color: #b9b9b9;
    --white-secondary: #f1f1f1;
    --white-color: #fff;
    --body-color: #444444;
    --a-hover-color: #e76668;
    --testimonial-item-color-h4: #999;
    --testimonial-item-quote-color: #fceaea;
    --contact-info-color: #f8d4d5;
    --contant-send-mensage: #18d26e;
    --crayola-amarela: #ffeb99;
    --crayola-opacity-amarela: #ffeb99ea;
    --vermelho-amarelo-max: #ffcd70; 
    --po-azul: #bfeeed;
    --verde-azul-medio: #98d7d0;
    --verdete: #5ec2b7;
    --teal-de-aco: #4d8688;
    --color-type-1: rgb(0, 183, 255);
    --color-type-2: rgb(218, 0, 0);
    --color-type-3: rgb(16, 173, 16);

    --USAFA-blue: #015486;
    --Green-blue-crayola: #3884b8;
    --Blue-Munsell: #0291a2;
    --Gainsboro: #d6dae5;
    --Almond: #e0d3c3;
    --Almond2: #dacabb;
    --Pale-Silver: #c3b9ad;
    --Grullo: #c2a06c;
}

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track { /*cor de fundo barra de rolagem */
background: #f1f1f1;
}

::-webkit-scrollbar-thumb { /*Mudar cor da barra de rolagem*/
background: var(--Green-blue-crayola);
}

::-webkit-scrollbar-thumb:hover {
background: var(--USAFA-blue);
}

#hero {
    background-position-y: 0rem;
}

.first-item-of-page {
    margin-top: 82px;
}

@media (max-width: 992px) {
    .first-item-of-page {
        margin-top: 57px;
    }
}

.within-scroll {
    min-height: 100vh !important;
    max-height: 100vh !important;
    overflow: hidden;
}

.leaflet-map-container {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
  
}

.leaflet-map {
    width: 100%;
    height: 90%;
    position: fixed;
}

.leaflet-map-menu {
    position: absolute;
    background-color: transparent;
    color: var(--USAFA-blue);
    width: 0;
    height: 0;
    z-index: 1010;
}

.leaflet-map-menu .wrapper {
    color: var(--true-black-color);
    position: relative; 
}

.leaflet-map-menu .wrapper svg {
    position: absolute; 
    margin-left: 3.35rem;
    margin-top: 1.45rem;
    pointer-events: none;
}

.leaflet-map-menu input {
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    padding-left: 2.5rem;
    border-radius: 4px;
    margin-left: 2.9rem;
    margin-top: 1rem;
    width: 20rem;
    height: 2.5rem;
    font-size: 1.3rem;
    border: none;
    transition: width .5s;
}

.leaflet-map-menu input[value=""]{
    width: 2.5rem;
}

.leaflet-map-menu input:hover {
    width: 20rem;
}

.leaflet-map-menu input:focus {
    outline: none;
    width: 20rem;
}

.filter-button-container {
    margin-top: 0.7rem;
    display: flex;
    flex-direction: column;
    width: 10rem;
}

.filter-button {
    border-radius: 4px;
    margin-top: 0.7rem;
    margin-left: 0.6rem;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: var(--USAFA-blue);
    padding: 5px;
    width: 2.5rem;
    height: 2.5rem;
    text-align: left;
    background-color: var(--white-secondary);
    justify-content: center;
    align-items: center;
    border: none;
    transition: width .5s, background-color 1s, color 1s;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}

.filter-button div {
    font-size: 0;
    width: 0;
    transition: font-size .1s, width .5s;
}

.filter-button:hover {
    justify-content: left;
    width: 14rem;
}

.filter-button:hover div {
    padding: 5px;
    width: 11.5rem;
    font-size: 1.4rem;
    animation: expandButtonMap linear .5s;
}


.button-type-1 {
    background-color: var(--white-secondary);
    color: var(--true-black-color);
}

.button-type-2 {
    background-color: var(--white-secondary);
    color: var(--true-black-color);
}

.button-type-3 {
    background-color: var(--white-secondary);
    color: var(--true-black-color);
}

.button-type-1-active {
    color: var(--white-secondary);
    background-color: var(--color-type-1);
}

.button-type-2-active {
    color: var(--white-secondary);
    background-color: var(--color-type-2);
}

.button-type-3-active {
    color: var(--white-secondary);
    background-color: var(--color-type-3);
}

.filter-button:focus {
    outline-style: none;
}

@media (max-width: 992px) and (orientation: portrait) {
    .mobile-nav-toggle {
        top: 0.8rem;
        font-size: 2rem;
    }

    .leaflet-map {
        width: 100%;
        height: 75vh;
    }

    .leaflet-map-container {
        margin-top: 7.8vh;
    }

    .pointPage #header {
        max-height: 9.75vh !important;
        padding: 1.4vh !important;
        transition: height .5s;
        padding-left: 0;
    }

    .pointPage #footer {
        height: 100%;
    }

    .pointPage #header .logo img {
        max-height: 5vh;
    }
  
    .pointPage .py-4 {
        padding: 0 !important;
        display: flex;
        flex-direction: column;
        height: 17.2vh;
        justify-content: center;
        align-items: center;
    }

    .pointPage .container {
        padding-top: 5px;
    }

    .leaflet-map-menu input {
        margin-left: 3.9rem;
        margin-top: 1.5rem;
    }

    .leaflet-map-menu input:hover {
        margin-left: 3.9rem;
        margin-top: 1.5rem;
        width: 15rem;
    }

    .leaflet-map-menu input:focus {
        margin-left: 3.9rem;
        margin-top: 1.5rem;
        width: 15rem;
    }

    .leaflet-map-menu .wrapper svg {
        margin-left: 4.35rem;
        margin-top: 1.95rem;
    }

    .filter-button {
        padding: 7px;
    }

    .filter-button:hover div {
        display: none;
    }

    .filter-button:hover {
        justify-content: left;
        width: 2.5rem;
    }
}

.margin-bottom {
    margin-bottom: 30px !important;
}

.alt-bg-color {
    background-color: var(--crayola-amarela) !important;
}

.alt-bg-color:hover {
    background-color: black !important;
}

.button-home {
    background-color: rgba(0,0,0,0.55) !important;
    border-color: var(--Blue-Munsell) !important;
    color: var(--Blue-Munsell) !important;
    font-weight: 700 !important;
    border-radius: 5px !important;
}

.button-home:hover {
    background-color: rgba(0,0,0,0.55) !important;
    border-color: var(--Green-blue-crayola) !important;
    color: var(--Green-blue-crayola) !important;
}

#header .get-started-btn{
    background-color: transparent!important;
    border-color: var(--Grullo) !important;
    color: var(--Grullo) !important;
}

#header .get-started-btn:hover {
    background-color: var(--Almond2) !important;
    border-color: var(--Grullo) !important;
    color: var(--white-color) !important;
}

#header.header-scrolled .get-started-btn { /*cor do botão apos rolagem*/
    background-color: var(--Green-blue-crayola) !important;
    border-color: var(--USAFA-blue) !important;
    color: var(--white-color) !important;
}

#header.header-scrolled .get-started-btn:hover { /*cor do botão apos rolagem*/
    background-color: var(--Almond2) !important;
    border-color: var(--USAFA-blue) !important;
    color: var(--Green-blue-crayola) !important;
}

.header-scrolled .get-started-btn:hover {
    color: var(--Blue-Munsell);
}

.logo-header {
    max-width: 20%;
}

.justify-space-between {
    justify-content: space-between;
}

.nav-menu-container {
    display: flex;
    flex-direction: row;
}

.leaflet-div-icon {
    background: transparent;
    border: none;
} 

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a.dropdown-buttons {
    border-bottom: 0px !important;
}

.section-half {
    height: 70vh !important;
}

.img-fluid {
    min-height: 22rem !important;
}

@media (max-width: 992px) and (orientation: portrait) {
    .img-fluid {
        min-height: 15rem !important;
    }

    .section-half {
        height: 40rem !important;
    }

    #hero .btn-get-started {
        font-size: 14px;
        padding: 8px 18px;
        margin-right: 8px;
        border-radius: 4px;
        transition: 0.5s;
        margin-top: 0.4rem;
        color: var(--Blue-Munsell);
        background-color: var(--crayola-amarela);
        border: 2px solid var(--vermelho-amarelo-max);
    }

    #hero h2 {
        font-size: 16px;
        line-height: 22px;
    }

    #hero h1 {
        font-size: 26px;
    }
}

.nav-menu .active > a {
    color: var(--Almond2);
}

.section-bg {
    color: white;
}

.mobile-nav {
    background-color: white;
}

.mobile-nav * {
    color: var(--USAFA-blue) !important;
}

.back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: white;
    color: var(--Grullo);
    border: 1px var(--Grullo) solid;
    transition: all 0.4s;
}

.back-to-top i:hover {
    background: white;
    color: var(--USAFA-blue);
    border: 1px var(--USAFA-blue) solid;
}

p {
    white-space: pre-wrap !important;
    text-align: justify;
} 
  
@keyframes expandButtonMap {
    0% {
        font-size: 0;
        width: 0;
    }
    50% {
        font-size: 0;
    }
}

.pointPage #footer{
    
    margin-right: 1170px !important;
    margin-left: 10px;
    background: var(--Grullo) !important;
    margin-top: 530px!important;
    position: fixed !important;
    color: transparent !important;
    height: 55px;    
    border-radius: 9px;
    
   
}

.pointPage #footer .social-links a {
    font-size: 0px; /* para os icones não aparecerem na parte do mapa*/
    display: inline-block;
    background: transparent; /*Icones color pagina mapa */
    margin-top:-20px !important;
    width: 0x !important; 
    height: 0px !important;
   
}
.pointPage  #footer .copyright{
    color: var(--white-color);
    margin-top: -18px;
    margin-right: -70px;
    opacity: 1;
   
       
}
