:root {
    --main-color: #2d727e;
    --main-color-alt: #2d727ea1;
    --secondary-color: #3a8491;
    --simples-primary-color: #ee9293;
    --true-black-color: #252525;
    --black-color: #2f4144;
    --black-secondary-color: #2f555c;
    --black-simples-color: #111;
    --black-other-color: #2b2b2b;
    --black-gray-color: #848484;
    --gray-color: #aaaaaa;
    --gray-true-color: #777777;
    --gray-true-secondary-color: #515151;
    --gray-secondary-color: #c4c4c4;
    --gray-other-color: #ddd;
    --gray-other-secondary-color: #b9b9b9;
    --white-secondary: #f1f1f1;
    --white-color: #fff;
    --body-color: #444444;
    --a-hover-color: #e76668;
    --testimonial-item-color-h4: #999;
    --testimonial-item-quote-color: #fceaea;
    --contact-info-color: #f8d4d5;
    --contant-send-mensage: #18d26e;
    --crayola-amarela: #ffeb99;
    --crayola-opacity-amarela: #ffeb99ea;
    --vermelho-amarelo-max: #ffcd70; 
    --po-azul: #bfeeed;
    --verde-azul-medio: #98d7d0;
    --verdete: #5ec2b7;
    --teal-de-aco: #4d8688;
}

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
background: var(--secondary-color);
}

::-webkit-scrollbar-thumb:hover {
background: var(--main-color);
}

.first-item-of-page {
    margin-top: 82px;
}

@media (max-width: 992px) {
    .first-item-of-page {
        margin-top: 57px;
    }
}

.leaflet-map-container {
    display: flex;
    flex-direction: row;
    padding-right: 100px !important;
    padding-left: 100px !important;
}

.leaflet-map {
    width: 100%;
    height: 80vh;
}

.leaflet-map-menu {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 0%;
}

@media (max-width: 992px) {
    .leaflet-map {
        width: 100%;
        height: 80vh;
        
    }
    
    .leaflet-map-container {
        display: flex;
        flex-direction: column;
      
      
    }
    
    .leaflet-map-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 10vh;
    }
}

.margin-bottom {
    margin-bottom: 30px !important;
}

.alt-bg-color {
    background-color: var(--crayola-amarela) !important;
}


.alt-bg-color:hover {
    background-color: var(--main-color) !important;
}

.button-home {
    background-color: var(--crayola-opacity-amarela) !important;
}

.button-home:hover {
    background-color: transparent !important;
    border-color: var(--crayola-opacity-amarela) !important;
    color: var(--crayola-opacity-amarela) !important;
}

#header .get-started-btn:hover {
    background-color: transparent !important;
    border-color: var(--main-color) !important;
    color: var(--main-color) !important;
}

.header-scrolled .get-started-btn:hover {
    color: var(--black-color);
}

.logo-header {
    max-width: 20%;
}

.justify-space-between {
    justify-content: space-between;
}

.nav-menu-container {
    display: flex;
    flex-direction: row;
}
.leaflet-div-icon {
    background: transparent;
    border: none;
}  